@import url('https://fonts.googleapis.com/css?family=Numans');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap');

*[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    border-radius: 0.3em;
    background-color: #f2f2f2;
}

*[role="form"] h2 { 
    font-family: 'Open Sans' , sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #000000;
    margin-top: 5%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}
/* Made with love by Mutiullah Samim*/


#drac{
background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

/* .container{
height: 100%;
align-content: center;
} */


/* .drac {
    float: right 50%;
    justify-self: center;
    align-items: center;
} */


.slider {
    width: 400px;
    height: 400px;
    background: url("https://bit.ly/2HgbFGU") no-repeat center center/cover;
    animation: slide 15s infinite;
    border-radius: 5px;
  }
  
  @keyframes slide {
    25% {
      background: url("https://bit.ly/2HgbFGU") no-repeat center center/cover;
    }
    50% {
      background: url("https://wallpapercave.com/wp/wp2470466.jpg") no-repeat center center/cover;
    }
    75% {
      background: url("https://bit.ly/2SfdBpv") no-repeat center center/cover;
    }
    100% {
      background: url("https://bit.ly/2OKDpaZ") no-repeat center center/cover;
    }
  }
  
  .slider-box {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }


.home {
    display: flex;
    margin: 1rem 0;
    align-items: center;
  
  }
  .insta-icon {
    padding: 0 1rem;
    border-right: 2px solid #000
  }
  
  .insta-functions {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }
  
  .insta-heart {
    padding: 0 2rem;
  }
  
  .insta-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .main {
    border-bottom: 2px solid #d3d3d3;
  }
  
  .insta-nav a {
    color: #000;
    text-decoration: none;
  }